:root{
    --colorPredominante:#F8F8FF;
    --colorAcentos:#718AF4;
    --colorAcentoDark:#454655;
    --colorSecundario:#C2C4EE;
    --coloreSubdominate: #E6F4F1;
    --colorAlerta:#00BFCA;
    --colorAlerta2:#4EEDFD;

}
.log{
    color: var(--colorAlerta);
}
.log2{
    color: var(--colorAcentos);
}

body{
    color:var(--colorAcentoDark);
}

.selec{
    cursor: pointer;
}

span{
    color: var(--colorAcentoDark);
    cursor: pointer;
}
span:hover{
    background-color: var(--colorPredominante);
    color: var(--colorAcentos);
    text-decoration:underline;
    padding: 3px;
    border-radius: 10px;
}
.selector-on{
    background-color:var(--colorAcentos);
    color: var(--coloreSubdominate);
    border: solid;
    padding: 3px;
    border-radius: 10px;
}
.selector-on2{
    background-color:var(--colorAcentoDark);
    color: var(--colorAlerta2);
    border: solid;
    padding: 3px;
    border-radius: 10px;
}

.opciones-text{
text-align: center;
}
.menu-chico{
    position: fixed;
    z-index: 2;    
}
.menu-mas{
    color: #454655;
    background-color:transparent;
    font-size:200%;
}
.menu-mas:hover{    
    text-decoration: none;
    color:var(--colorAcentoDark)
    
}
.poster-modal{
    height:70% ;
}

@media screen and (min-width: 768px) {
    .menu-chico{
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .menu-grande{
        display: none;
        
    }
}
@media screen and (width: 768px) {
    .menu-grande{
        display: block;
    }
}