:root{
    --colorPredominante:#F8F8FF;
    --colorAcentos:#718AF4;
    --colorAcentoDark:#454655;
    --colorSecundario:#C2C4EE;
    --coloreSubdominate: #E6F4F1;
    --colorAlerta:#00BFCA;
    --colorAlerta2:#4EEDFD;

}


.poster-cont{
    display: grid;
    justify-items: center;
}
img.poster{
    max-height: 300px;
    border-radius: 5%;   
}

.card{
    background-color: var(--colorSecundario) ;
    border: solid var(--colorAcentos) ;
}
.icon{
    color: var(--colorAcentoDark);
    cursor: pointer;
}

.icon:hover{
    color: #00BFCA;
    
}