:root{
    --colorPredominante:#F8F8FF;
    --colorAcentos:#718AF4;
    --colorAcentoDark:#454655;
    --colorSecundario:#C2C4EE;
    --coloreSubdominate: #E6F4F1;
    --colorAlerta:#00BFCA;
    --colorAlerta2:#4EEDFD;

}

.icono-seleccionador{
    color: var(--colorAcentos);
}

.icono-seleccionador:hover{
    color: var(--colorAlerta2);
}

span.modo-guardado{
    text-decoration: none;
    color: black;
    cursor: auto;
}

span.vista{
    margin-left: 5px;
    text-decoration: none;
    color: black;
    cursor: auto;
}

input[type='radio'] {
    display: none;
}

.opciones label{
    cursor: pointer;
    margin-left: 3px;
    padding: 3px;
}

.opciones label:hover {
    border-radius: 6px;
    border: #00BFCA solid 2px ;
    background-color:var(--colorSecundario);
    color: var(--colorPredominante)
}

input[type='radio']:checked + label {
    background-color: #454655;
    border-radius:  6px;
    border: #454655 solid 2px;
    color: var(--colorAlerta2)
}

.posicionadorCarga{
    z-index: 1;
    position: fixed;
    margin-top: 100px;
    background-color: var(--coloreSubdominate);
    border-radius: 10px;
}
.vision-opcion{
    display:  none;
}
@media screen and (min-width: 576px) {
 
    .posicionadorCarga{
        
        margin-top: 100px;
        background-color: var(--coloreSubdominate);
    }  
    
}
@media screen and (min-width: 768px) {
    .opciones .persistencia{        
        text-align: right;
    }
    .posicionadorCarga{
        position:relative;
        margin-top: 0px;
    }
    .vision-opcion{
        display: block;
        background-color: transparent;
    } 
}

